.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.logo {
  flex-shrink: 0;
}

.nav-link {
  cursor: pointer;
  transition: color 0.3s, text-shadow 0.3s;
}

.nav-link:hover {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.social-icon {
  transition: color 0.3s;
}

/* Add this new rule to push down the main content */
body {
  padding-top: 64px; /* Adjust this value based on your navbar height */
}

@media (max-width: 767px) {
  .md\:flex {
    display: none;
  }
  
  body {
    padding-top: 56px; /* Adjust for mobile navbar height if different */
  }
}

@media (min-width: 768px) {
  .md\:hidden {
    display: none;
  }
}