.hover\:glow:hover {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0), 0 0 10px rgb(255, 0, 255), 0 0 15px rgba(255, 255, 255, 0);
  }
  
  /* Add these styles to Navbar.css */
@media (max-width: 1032px) {
  .menu-item {
    display: none;
  }
  .hamburger {
    display: block;
  }
}

@media (min-width: 1033px) {
  .hamburger {
    display: none;
  }
  .menu-item {
    display: flex;
  }
}
